@charset "utf-8";
.nav_home {
    background-image: url(../images/icons/nav/home.png);
}

.nav_about {
    background-image: url(../images/icons/nav/about.png);
}

.nav_report {
    background-image: url(../images/icons/nav/report.png);
}

.nav_user {
    background-image: url(../images/icons/nav/user.png);
}

.nav_system {
    background-image: url(../images/icons/nav/system.png);
}

.nav_check {
    background-image: url(../images/icons/nav/check.png);
}

.nav_policy {
    background-image: url(../images/icons/nav/policy.png);
}

.nav_approve {
    background-image: url(../images/icons/nav/approve.png);
}