<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goldencis.vdp.core.dao.CClientUserDOMapper">
    <update id="setClientUsersUngroup" >
        UPDATE t_client_user cu
        SET cu.deptguid = 2
        WHERE cu.deptguid = ${departmentId}
    </update>
</mapper>