<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goldencis.vdp.core.dao.CUserNavigationDOMapper">
  <insert id="batchInsertByOneUserAndNavigationList">
    insert into t_user_navigation (user_id, navigation_id)
    values
    <foreach collection="navigationIdList" item="navigationId" separator=",">
      (#{userId},#{navigationId})
    </foreach>
  </insert>
  <delete id="batchDeleteUserNavigationByUserId" parameterType="java.lang.String">
    DELETE FROM t_user_navigation
    WHERE user_id = #{userId,jdbcType=VARCHAR}
  </delete>
</mapper>