.content-box{
  top: 90px;
  .cell-top{
    width: 100%;
    height: calc(~"100% - 460px");
    min-height: 300px;
    #exportReport{
      height: 100%;
    }
  }
  .cell-bottom{
    height: 460px;
    width: 100%;
  }
}