.content-box {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: white;
  padding: 0px 15px 0px 15px;
}
.content-box .top-bar {
  background: #fff;
  border-bottom: 1px solid #ededed;
}
.content-box .videoNetCon {
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0px;
}
.content-box .videoLogoCon {
  min-height: 400px;
  width: 100%;
  position: absolute;
  top: 400px;
}
.content-box .netContent {
  padding: 0px 30px 0px 30px;
}
.netAdd a,
.logoAdd a {
  display: inline-block;
  margin-left: 10px;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  background-color: #ededed;
  color: #38D1BF;
}
.netShow {
  padding-left: 30px;
}
.netShow .netShowList {
  height: 30px;
  min-width: 260px;
  max-width: 300px;
  line-height: 30px;
  padding-left: 5px;
  margin-top: 10px;
  margin-right: 10px;
  background: #ededed;
  cursor: pointer;
}
.netShow .netShowList i {
  font-size: 12px;
  margin-left: 10px;
  color: #fff;
}
.logoShow {
  padding-left: 30px;
}
.logoShow .logoShowList {
  height: 31px;
  min-width: 390px;
  max-width: 600px;
  line-height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #ededed;
  box-sizing: content-box;
}
.logoShow .logoShowList > span {
  width: 130px;
  background-color: #fff;
  padding-left: 5px;
}
.logoShow .logoShowList .con {
  background-color: #ededed;
}
.logoShow .logoShowList .con span {
  width: 200px;
}
.logoShow .logoShowList .con i:first-child {
  color: #38D1BF;
  margin: 0px 5px;
}
.logoShow .logoShowList .con i:last-child {
  font-size: 12px;
  margin: 0px 5px;
  color: #ededed;
}
.logoShow .logoShowList-hover {
  border: 1px solid #38D1BF;
}
.logoShow .logoShowList-hover .con {
  background-color: #38D1BF;
  color: #fff;
}
.logoShow .logoShowList-hover .con i:first-child,
.logoShow .logoShowList-hover .con span {
  color: #fff;
}
.logoShow .logoShowList-hover .con i:last-child {
  display: inline-block;
}
