.policy-content {
  padding: 20px 0px 70px 35px;
}
.policy-content form > div .policy-title {
  height: 50px;
  position: relative;
  line-height: 50px;
  border-bottom: 1px solid #F6F6F6;
  padding-left: 30px;
}
.policy-content form > div .policy-title:after {
  content: '';
  height: 14px;
  width: 2px;
  background-color: #10c7be;
  display: inline-block;
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
}
.policy-content form > div .policy-con {
  padding: 10px 45px 18px 45px;
  width: 900px;
}
.policy-content form > div .policy-con > label {
  display: inline-block;
  height: 42px;
  line-height: 38px;
  margin-right: 45px;
}
.policy-content form > div .policy-con > label span {
  vertical-align: middle;
}
.policy-content form > div .policy-con > label.out {
  display: block;
  height: 38px;
  line-height: 38px;
}
.policy-content form > div .policy-con > label.out .smallinput {
  width: 50px;
}
.policy-content form > div .policy-con > label.out .autoDelete {
  display: inline-block;
}
.policy-content form > div .policy-con > label.export {
  display: block;
}
.policy-content form > div .policy-con .waterShowContent {
  padding-left: 40px;
}
.policy-content form > div .policy-con .waterShowContent > label {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  margin-right: 45px;
}
.save {
  position: fixed;
  left: 200px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 70px;
  border-top: 1px solid #ededed;
  z-index: 100000;
  background-color: #fff;
  overflow: hidden;
}
.save .policy-save {
  margin: 20px 0px 0px 85px;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #38CFC0;
  color: #fff;
  cursor: pointer;
}
.bar-item-box {
  right: 12px;
  color: #38CFC0;
  cursor: pointer;
}
.approveButton {
  display: inline-block;
  width: 90px;
  height: 30px;
  background-color: #ededed;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
}
#settingTimes-error {
  position: absolute;
  margin-left: 20px;
}
#passwordVerifications-error {
  position: absolute;
  margin-left: 20px;
}
#allowOpens-error {
  position: absolute;
  margin-left: 145px;
}
