.titleTab {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #dedede;
  background-color: #fff;
}
.titleTab li {
  float: left;
  height: 40px;
  line-height: 40px;
  width: 110px;
  text-align: center;
  cursor: pointer;
}
.titleTabactive {
  color: #38D1BF;
  border-bottom: 3px solid #38D1BF;
  box-sizing: border-box;
}
.main-contentall {
  background-color: white;
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0;
  font-size: 14px;
  clear: both;
  overflow-y: auto;
  overflow-x: hidden;
}
.main-contentall .accountcon {
  padding: 5px 20px 10px 20px;
}
.main-contentall .accountcon .accounttop {
  height: 44px;
  line-height: 44px;
  width: 100%;
}
.main-contentall .accountcon .accounttop a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #ededed;
  color: #10C7BE;
}
.main-contentall .accountcon .accountshow {
  position: absolute;
  width: 98%;
  height: 93%;
}
#openWind form {
  padding-left: 10px;
}
#openWind form .info > label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  width: 100%;
}
#openWind form .info .infocon {
  margin-left: 75px;
}
#openWind form .info .infocon input,
#openWind form .info .infocon select {
  width: 380px;
}
#openWind form .authset > label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  width: 100%;
}
#openWind form .authset .authcon {
  margin-left: 75px;
}
#openWind form .authset .authcon #depttree,
#openWind form .authset .authcon #navtree {
  display: inline-block;
  width: 380px;
  height: 180px;
  border: 1px solid #ededed;
  overflow: auto;
  vertical-align: top;
}
#openWind form .authset .authcon select {
  width: 380px;
}
.netset {
  padding-left: 0px;
  padding-right: 0px;
}
.netset .netsetleft {
  height: 230px;
  background-color: #F5F5F5;
  margin-left: 50px;
  margin-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
}
.ethsa {
  height: 40px;
  text-align: left;
  line-height: 40px;
  background: #E5E6E8;
}
.netset .netsetright {
  height: 230px;
  background-color: #F5F5F5;
  margin-left: 50px;
  margin-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
}
.netset span {
  text-align: center;
  font-size: 14px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  color: #A2A2A2;
}
.netsetlast {
  margin-left: 200px;
}
.netsetlast .preserve-1 {
  height: 32px;
  width: 70px;
  background: #5CAEDE;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
}
@media screen and (max-width: 1366px) {
  .boxnet {
    height: 600px;
    overflow-y: auto;
  }
}
.left-netconfig {
  float: right;
  margin-right: 48px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
  z-index: 99999;
}
.neter-icon {
  color: #5BAFDE;
  padding-right: 5px;
}
.ethsa {
  font-weight: bold;
  color: #666666;
  font-size: 16px;
  font-family: arial;
}
.viewbtn {
  color: #333 !important;
}
.boxnet {
  overflow: auto;
}
.btn-save {
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  padding: 0 20px;
  color: white;
  background: #8DB4E5;
  border-radius: 2px;
  outline: none;
  border: none;
  margin-left: 64px;
}
.btn-save:hover {
  background: #78a6e0;
}
.left {
  float: left;
}
.btn-save {
  background: #38CFC0;
}
#accountTableth {
  width: 100% !important;
}
.main-contentall .servercon {
  padding: 50px 0px 0px 50px;
}
.main-contentall .servercon .wind-label {
  width: 130px;
  text-align: left;
}
.main-contentall .servercon form {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.main-contentall .servercon form input {
  display: inline-block;
  float: left;
}
.main-contentall .servercon form .uploadFile {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  width: 220px;
  height: 30px;
  overflow: hidden;
}
.none {
  display: none;
}
