.content-box {
  position: absolute;
  top: 92px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: white;
  padding: 25px 0px 0px 40px;
}
.item-row {
  width: 680px;
  height: 46px;
  line-height: 46px;
}
.item-row .wind-label {
  display: inline-block;
  width: 150px;
}
.item-row .label-norequire {
  padding-left: 9px;
}
.item-row .wind-input {
  width: 380px;
}
.item-row .icon-btn-add {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  display: inline-block;
  background-color: #EAEAEA;
  color: #38D1BF;
  cursor: pointer;
}
.add-server-box {
  padding: 10px 0;
}
.add-server-box .add-param-name {
  display: inline-block;
  width: 120px;
  text-align: right;
  float: left;
  vertical-align: middle;
}
.add-server-box .row-center {
  display: inline-block;
  padding: 5px 0;
  margin-left: 10px;
}
.add-server-box .error-text {
  color: red;
  display: none;
  font-size: 12px;
}
.add-server-box .append-box {
  margin-left: 144px;
}
.save {
  position: fixed;
  left: 200px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 70px;
  border-top: 1px solid #ededed;
  z-index: 100000;
  background-color: #fff;
  overflow: hidden;
}
.save .access-save {
  margin: 20px 0px 0px 85px;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #38CFC0;
  color: #fff;
  cursor: pointer;
}
.mustlabel {
  color: red;
  position: absolute;
  left: 90px;
  width: 10px;
  display: inline-block;
  height: 10px;
  padding-top: 7px;
}
.append-box {
  margin-left: 144px;
}
.append-param-box {
  display: inline-block;
  position: relative;
}
.append {
  border: none;
  background-color: #F5F5F7;
  margin-top: 10px;
  color: #929294;
}
.medium-input {
  width: 220px;
}
.add-param-val {
  margin-left: 10px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #E1E6EA;
  padding: 0 10px;
  vertical-align: middle;
}
.del-param {
  position: absolute;
  right: 5px;
  z-index: 10;
  top: 16px;
  font-size: 12px;
  cursor: pointer;
  color: #b9c0ca;
}
.item-row {
  height: inherit;
  line-height: inherit;
}
