/*弹窗*/
#openWind {
  border-bottom: none;
}
.wind-box {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}
.wind-row {
  padding: 5px 0;
  position: relative;
}
.wind-cell {
  width: 50%;
  float: left;
}
.wind-label {
  display: inline-block;
  width: 80px;
  text-align: right;
  font-size: 14px;
  padding: 0 5px;
}
.wind-input {
  width: 220px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
  padding: 0 5px;
}
.wind-normal-input {
  width: 220px;
}
.wind-long-input {
  width: 430px;
}
.parent-dept-tree-box {
  position: absolute;
  border: 1px solid #CCCCCC;
  border-top-color: transparent;
  width: 220px;
  height: 180px;
  left: 95px;
  box-sizing: border-box;
  z-index: 1000;
  background: white;
  overflow: auto;
}
.parent-dept {
  background: url(../../../images/downselect.png) no-repeat calc(100% - 6px) center;
}
/*弹窗结束*/
